
.root {
    -fx-background-color: linear-gradient(to bottom, #FFC0CB, #FFB6C1, #FFDDEE);
    -fx-padding: 50;

}


.label-title {
    -fx-font-family: "Fredoka One";
    -fx-font-size: 90px;
    -fx-text-fill: #E76D83;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, #FF69B4, 6, 0, 0, 0); /* stronger glow */
}


.menu-button {
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 30px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #FFB6C1;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
    -fx-border-color: #FFDDEE;
    -fx-border-width: 2px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
}


.menu-button:hover {
    -fx-background-color: #FFDDEE;
    -fx-text-fill: #E76D83;
    -fx-border-color: #FFB6C1;
}
