.root {
    -fx-background-color: linear-gradient(to bottom, #FFC0CB, #FFB6C1, #FFDDEE);
}


.gameBoard {
    -fx-border-color:  #E76D83;
    -fx-border-width: 15px;
    -fx-border-radius: 12px;
}

.bonusStyle {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

#gamePanel {
    -fx-background-color: #1d1d1d;
    -fx-padding: 0;
    -fx-hgap: 0;
    -fx-vgap: 0;
    -fx-border-color: #2e2e2e;
    -fx-border-width: 0;
}


.cell-style {
    -fx-stroke: #333333;
    -fx-stroke-width: 0.5;
}

.brick {
    -fx-stroke: none;
    -fx-stroke-width: 0;
}

.nextBrick {
    -fx-border-width: 2px;
    -fx-border-color: whitesmoke;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
}

.ghost {
    -fx-stroke: transparent;
}
